/* Global styles */
body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: ##00A699;
}

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* add this line to space the links evenly */
  align-items: center;
  height: 64px;
  background-color: ##00A699;
  border-bottom: 1px solid #e6e6e6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #484848;
  text-decoration: none;
}

.navbar-brand:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-link {
  font-size: 16px;
  color: white; /* change this value to the desired color */
  text-decoration: none;
  margin-left: 24px;
}

.navbar-link:hover {
  color: #ffffff;
}

/* Main content styles */
.container {
  max-width: 1100px;
  margin: 80px auto 0 auto;
  padding: 64px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #ff5a5f;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #ff4348;
}

/* Footer styles */
.footer {
  background-color: #f7f7f7;
  padding: 24px;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.footer-link {
  color: #484848;
  text-decoration: none;
  margin-left: 16px;
}

.footer-link:hover {
  color: #ff5a5f;
}

/* CSS to center the iframe */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#feedback-form {
  width: 100%;
  max-width: 800px;
  height: calc(100vh - 160px); /* adjust this value as needed */
  margin-top: 100px; /* add this line to create space between the nav bar and iframe */
}
